
<div id="<%= dom_id food %>">
  <p>
    <strong>food:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>measurement unit:</strong>
    <%= food.measurement_unit %>
  </p>

    <p>
    <strong>unit price:</strong>
    $<%= food.unit_price %>
  </p>

</div>
