 /* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

 /* Style the Recipes container */
.recipes {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.view-recipe-button {
  text-decoration: none;
  color: rgb(196, 190, 190);
  font-weight: 500;
  font-size: 1.3rem;
  background-color: blue;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px;
} 